.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
.pt10{
    padding-top: 10px;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background-color: #36414e !important;
}
